.player {
  background-color: whitesmoke;
  height: 15%;
  padding: 2%;
  margin: 2% 0;
  /*border: 2px solid whitesmoke;*/
}

p .fa {
  vertical-align: middle;
  display:inline-block;
}

p span {
  vertical-align: middle
}

.fa-pencil {
  margin-right: 5px;
}

.fa-refresh {
  margin-left: 5px;
}

.fa-trash {
  margin-left: 5px;
}

.loading {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.checkbox {
  margin-left: 30px;
  display: inline-block;
}