.player {
  background-color: whitesmoke;
  height: 15%;
  padding: 1% 2% 1% 2%;
  margin: 2% 0;
  /*border: 2px solid whitesmoke;*/
}

p {
  margin-bottom: 1%;
}

p .fa {
  vertical-align: middle;
  display: inline-block;
}

p span {
  vertical-align: middle
}

.fa-pencil {
  margin-right: 5px;
  cursor: pointer;
}

.fa-refresh {
  margin-left: 5px;
}

.fa-trash {
  margin-left: 5px;
}

.loading {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checkbox {
  margin-left: 10px;
  display: inline-block;
}

.song-title {
  cursor: pointer;
}
