i {
  vertical-align: middle;
}

h2 {
  font-size: 24px;
}

h2 .fa {
  vertical-align: middle;
  display: inline-block;
}

h2 span {
  vertical-align: middle;
}

.fa-music {
  margin-right: 5px;
}

.fa-refresh {
  margin-left: 32px;
}

.repeating {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
