.help-block {
  font-size: 12px;
}

h2 {
  font-size: 24px;
  margin-bottom: 2%;
}

h2 .fa {
  vertical-align: middle;
  display:inline-block;
}

.fa-file-audio-o {
  margin-right: 5px;
}

h2 span {
  vertical-align: middle;
}